<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>All Your Contacts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="User Profile Page for SCM2.0">
    <script data-th-src="@{'/js/contacts.js'}"></script>

</head>
<body>

<div id="content">

    <!-- Sidebar if user is logged in -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <!-- Main Content -->
    <div class="sm:pl-64 pt-20">
        <div class="">
            <h1 class="text-center text-5xl font-bold mb-4">All Your Contacts</h1>
            <p class="text-center text-lg">
                List all contacts ...</p>

            <div class="contacts-container p-5">


                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


                    <form
                            data-th-object="${contactSearchForm}"
                            data-th-action="@{/user/contacts/search}"

                    >

                        <div class="gap-2 p-5 flex items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">


                            <div>
                                <label for="countries_disabled"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                </label>
                                <select

                                        data-th-field="*{field}"
                                        id="countries_disabled"
                                        class="mb-1.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected value="">Select Field</option>
                                    <option value="name">Name</option>
                                    <option value="phone">Phone</option>
                                    <option value="email">Email</option>
                                </select>
                            </div>


                            <!--                        search for user-->

                            <label for="table-search-users"
                                   class="sr-only"
                            >Search
                            </label>
                            <div class="relative">
                                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input
                                        data-th-field="*{value}"
                                        type="text" id="table-search-users" class="block p-2 ps-10 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Search for users">

                            </div>

                            <div>
                                <button
                                        type="submit"
                                        class="bg-gray-900 text-white px-3 py-2 rounded dark:bg-blue-600">
                                    Search
                                </button>
                            </div>



                        </div>

                    </form>


                    <table data-th-unless="${pageContact.isEmpty()}" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center">Name</th>
                            <th scope="col" class="px-6 py-3">Phone</th>
                            <th scope="col" class="px-6 py-3">Links</th>
                            <th scope="col" class="px-6 py-3">Action</th>
                        </tr>
                        </thead>


                        <tbody>



                        <tr
                                data-th-object="${c}"
                                data-th-each="c : ${pageContact.getContent()}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                        >

                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">

                                <img
                                        data-th-src="*{picture}"
                                        class="w-10 h-10 rounded-full"
                                        onerror="this.src='https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png'"
                                >


                                <div class="ps-3">
                                    <div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
                                    <div class="font-normal text-gray-500" data-th-text="*{email}">neil.sims@flowbite.com</div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                <i class="w-4 h-4 fa-solid fa-phone"></i>
                                <span data-th-text="*{phoneNumber}"></span>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex items-center">

                                    <div
                                            data-th-if="*{favourite}"
                                            class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"
                                    ></div>

                                    <a data-th-href="@{*{websiteLink}}"><i class="w-6 h-6 fa-solid fa-link"></i></a>

                                    <a data-th-href="@{*{linkedInLink}}"><i class="w-6 h-6 fa-brands fa-linkedin"></i></a>

                                </div>
                            </td>




                            <td class="px-6 py-4">
                                <!--                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>-->
                                <div>
                                    <!--                                    <a-->
                                    <!--                                            data-th-href="@{'/user/contacts/delete/'+ *{id}}"-->
                                    <!--                                    ><i class="w-6 h-6 fa-solid fa-trash"></i></a>-->


                                    <!--                                    delete contact-->
                                    <button
                                            th:onclick="deleteContact([[${c.id}]])"
                                    ><i class="w-6 h-6 fa-solid fa-trash"></i></button>


                                    <!--                                    update contact-->
                                    <a data-th-href="@{'/user/contacts/view/'+*{id}}">
                                        <i class="w-6 h-6 fa-solid fa-pen"></i>
                                    </a>


                                    <!--                                    view contact-->
                                    <button
                                            th:data-id="${c.id}"
                                            th:onclick="loadContactData(this.getAttribute('data-id'))"

                                    >
                                        <i class="w-6 h-6 fa-solid fa-eye"></i></button>


                                </div>

                            </td>

                        </tr>



                        </tbody>
                    </table>


                    <!--                    pagination component-->
                    <div
                            data-th-unless="${pageContact.isEmpty()}"
                            class="text-center p-6 pagination_container bg-white dark:bg-gray-800">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                                <li
                                        data-th-unless="${pageContact.first}"
                                >
                                    <a
                                            data-th-href="@{'/user/contacts/search?size=' + ${pageSize} + '&page=' + ${previousPage}  + '&field=' + ${contactSearchForm.field} + '&value=' + ${contactSearchForm.value}}"
                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white">Previous</a>
                                </li>

                                <li
                                        data-th-each="index : ${#numbers.sequence(0,(pageContact.totalPages)-1)}"
                                >

                                    <a
                                            data-th-href="@{'/user/contacts/search?size=' + ${pageSize} + '&page=' + ${index} + '&field=' + ${contactSearchForm.field} + '&value=' + ${contactSearchForm.value}}"
                                            data-th-classappend="${index == pageContact.getNumber() ? 'bg-blue-50 dark:bg-gray-900' : 'bg-white dark:bg-gray-800'}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 dark:border-gray-700 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white">
                                        <span data-th-text="${index+1}"></span>
                                    </a>
                                </li>

                                <li
                                        data-th-unless="${pageContact.last}"
                                >
                                    <a
                                            data-th-href="@{'/user/contacts/search?size=' + ${pageSize} + '&page=' + ${nextPage} + '&field=' + ${contactSearchForm.field} + '&value=' + ${contactSearchForm.value}}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>



                    <h1
                            data-th-if="${pageContact.isEmpty()}"
                            class="text-5xl text-center p-4 dark:text-gray-300">
                        No Result Found
                    </h1>

                </div>

            </div>


            <!--    model-->
            <div data-th-replace="~{user/contact_models :: contact-model}"></div>


        </div>
    </div>


</div>

<script>
    console.log("view contacts page");
</script>

</body>
</html>














