<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <title>register-page</title>
</head>
<body>

<div id="content">



  <div class="grid grid-cols-12 py-4">
<!--        4 + 4(main div) + 4-->
    <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
    <div class=" col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">

<!--      6 ki space le rhi hai-->

<!--      card-->
      <div class="border-t-[10px] border-black dark:border-blue-600 p-6 bg-white rounded-[12px] shadow dark:bg-gray-800 ">

        <!-- Image Section -->
        <div class="flex justify-center mb-6">
          <img style="width: 100px;" src="" th:src="@{/images/register.png}" alt="Register Icon" />
        </div>



<!--          message here-->
          <div data-th-replace="~{message :: messagebox}"></div>



<!--        this is our form-->

<!--        client side validation htane ke lie novalidate/\-->

        <form
                data-th-action="@{'/do-register'}"
                method="post"
                data-th-object="${userForm}"
                class="max-w-sm mx-auto"
                novalidate
        >

          <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>

            <input
                    type="text"
                    id="name"
                    th:field="*{name}"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    placeholder="Enter Here"
                    required />

                   <p
                           data-th-if="${#fields.hasErrors('name')}"
                           data-th-errors="*{name}"
                           class="text-red-600 px-1 py-1">Error!!!</p>

          </div>




          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>

            <input
                    type="text"
                    id="email"
                    th:field="*{email}"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter Here" required />

            <p
                    data-th-if="${#fields.hasErrors('email')}"
                    data-th-errors="*{email}"
                    class="text-red-600 px-1 py-1">Error!!!</p>

          </div>



          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>

            <input
                    type="text"
                    id="password"
                    th:field="*{password}"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter Here" required />

            <p
                    data-th-if="${#fields.hasErrors('password')}"
                    data-th-errors="*{password}"
                    class="text-red-600 px-1 py-1">Error!!!</p>
          </div>


          <div class="mb-5">
            <label for="contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>

            <input
                    type="text"
                    id="contact"
                    th:field="*{phoneNumber}"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter Here" required />

            <p
                    data-th-if="${#fields.hasErrors('phoneNumber')}"
                    data-th-errors="*{phoneNumber}"
                    class="text-red-600 px-1 py-1">Error!!!</p>
          </div>


          <div class="mb-5">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>

            <textarea
                    th:type="text"
                    th:action="*{about}"
                    id="message"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here ..."></textarea>


          </div>




          <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
              <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
          </div>

        <div class="flex justify-center gap-4">
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Signup</button>

          <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Reset</button>

        </div>

        </form>








      </div>


    </div>

  </div>
















</div>

</body>
</html>


<!--<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">-->




<!--</div>-->